*~
*.sw*
.meteor-spk
*.sublime-workspace
dump/
tmp/
node_modules/
npm-debug.log
.gitmodules
.vscode/
.idea/
.build/*
**/parts/
**/stage
**/prime
**/*.snap
snap/.snapcraft/
.idea
.DS_Store
.DS_Store?
.build*
*.browserify.js.cached
*.browserify.js.map
.build*
versions.json
.versions
.npm
.build*
._*
.Trashes
Thumbs.db
ehthumbs.db
.eslintcache
.meteor/local
.devcontainer/docker-compose.extend.yml
.devcontainer/volumes*/
.coverage
*.sqlite
*.db
*.csv

# Helm chart
# Chart dependencies
/helm/wekan/**/*.tgz
/helm/wekan/charts

# Files
/files/
/files2/
/avatars/
/avatars2/
*.txt
/0*
/1*
/2*
/3*
/4*
/5*
/6*
/7*
/8*
/9*
